/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p, a, li, h1, h2, h3, h4, h5, h6, button{
	font-family: Georgia, serif;
}

html{
	background-image: url("../images/minimal-background-pattern-wordpress-2.jpg");
}

html {
  height: 100%;
}

body {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

main {
	min-height: 90%;
	margin-top: 50px;
}

h2 {
	font-size: 30px;
}
h4 {
	font-size: 20px;
}


.heading h1{
	display: fixed;
	text-align: center;
	font-size: 60px;
	height: 80px;
	padding-top: 20px;
}

/*navbar*/

 .navbar a {
	text-decoration: none;
	color: black;
}


.navbar ul{
	
	list-style-type: none;
    margin-left: 20px;
    padding: 0; 

}

.navbar li{

	display: inline-block;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center; 
    padding: 4px 6px;
    text-decoration: none;
    background: #D5D5D5;;
  	background: -webkit-linear-gradient(left, #D5D5D5,#ECECEC); 
  	background: -o-linear-gradient(right, #D5D5D5, #ECECEC);
  	background: -moz-linear-gradient(right, #D5D5D5, #ECECEC);
  	background: linear-gradient(to right, #D5D5D5, #ECECEC); 
    font-size: 15px;
    width: 90px;
}

.navbar li:hover {
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop-down-button {
	position: relative;
}

.drop-down-items {
	position: absolute; 
	top: 25px;
	right: 0px;
	display: none;
}

.drop-down-items ul {
}

.drop-down-items li {
	display: block;
	width: 90px;
	border-radius: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.active ul{
	display: block;
}

/*image gallery*/

.image-gallery {
	margin-top: 50px;
	text-align: center;
}

.image-gallery h2 {
	margin-bottom: 50px;
}

.mySlides{
	width: 100%;
	height: 450px;
	display: block;
}

.hidden-slide {
	display: none;
}

button {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.page-info{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.page-info p {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*footer*/

.footer{
	text-align: center;
	font-size: 10px; 
	margin-top: 10px;
}


/*Album*/

.album-description h4 {
	padding-left: 10px;
	padding-right: 10px;
}

.album-gallery img {
	width: 400px;
	height: 300px;
	margin: 25px 22px 25px 22px;
	border: 1px solid black;

}

.album-gallery ul{
	list-style: none;
	margin: 0px 20px 25px 20px;
}

.album-gallery li{
	display: inline-block;
	font-size: 15px;
	color: black;
	text-align: center;
	width: 300px;
	margin-left: 55px;
	margin-right: 55px; 
}


.size-selector {
	width: 300px;
	padding: 0px 10px 0px 20px;
	float: left;
	margin-left: 40px;
}

.cover-selector {
	width: 300px;
	padding: 1px 10px 0px 20px;
	margin-left: 500px;
}

.album-calculator p {
	clear: both;
	text-align: center
}

/*Pricing*/

.left-pricing {
	width: 400px;
	display: inline-block;
	margin-left: 40px;
	padding-left: 10px;
}

.left-pricing ul {
	list-style-type: square;
}

.left-pricing li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.left-pricing h2 , h4 {
	text-align: center;
}


.right-pricing {
	width: 400px;
	display: inline-block;
}

.right-pricing p {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*links*/

.links-page {
	text-align: center;
}

.links-page h2, h4, a{
	margin-top: 10px;
	margin-bottom: 10px;
}

.links-page a {
	color: black;
}

.music {
	margin-top: 10px;
	border-bottom: solid 2px black;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;

}

.video{
	margin-top: 20px;
	border-bottom: solid 2px black;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
}

.car-service {
	margin-top: 20px;
	border-bottom: solid 2px black;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
}

.photography {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

/*testimonials*/


.testimonial-1{
	height: 300px;
	border: solid 1px black;
}

.testimonial-1 p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimonial-2{
	height: 300px;
	border: solid black 1px;
}

.testimonial-2 p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimonial-3{
	height: 300px;
	border: solid 1px black;
}

.testimonial-3 p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimonials img {
	height: 200px;
	width: 150px;
	margin-left: 50px;
	margin-right: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial-info {
	display: inline-block;
	border: solid 1px black;
	width: 650px;
	height: 300px;
}

.testimonial-info h4 {
	width: 250px;
	margin-left: 200px;

}